*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

html, body, #root{
    height: 100%;
}

body{
    background-color: #efefef;
    font-size: 14px;
}

a{
    text-decoration: none;
    &:hover{
        color:black;
    }
}

button{
    cursor: pointer;
}

ul{
    list-style: none;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
}

.container {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0.8em ;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 3px 3px 6px #ccc;
}